* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 50px;
}

#tomato-box div:nth-child(1),
#tomato-box div:nth-child(4) {
  background-color: #ff6347;
}

#teal-box div:nth-child(1),
#teal-box div:nth-child(4) {
  background-color: #008080;
}

#wood-box div:nth-child(1),
#wood-box div:nth-child(4) {
  background-color: #deb887;
}

#thistle-box div:nth-child(1),
#thistle-box div:nth-child(4) {
  background-color: #d7bfd7;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.itembox {
  background-color: white;
  width: 250px;
  height: 350px;
  padding: 10px;
  margin: 10px 10px;
  position: relative;
}

.itembox div {
  position: absolute;
}
.box-one {
  width: 250px;
  height: 20px;
}

.box-two {
  top: 50px;
  font-size: 18px;
  font-weight: 600;
}

.box-three {
  top: 100px;
  font-size: 18px;
  font-weight: 600;
}

.box-f {
  width: 250px;
  height: 210px;
  bottom: 10px;
}
