.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-weight: 600;
  font-size: 32px;
}

.screen-header__icons {
  position: relative;
}

.screen-header__point {
  position: absolute;
  bottom: 13px;
  left: 70px;
}
.screen-header__icons span {
  margin-left: 25px;
}
