.user-component {
  display: flex;
}

.user-component :first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 26px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 21px;
}

.user-component__subtitle {
  font-size: 17px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
